.animationContainer {
    display: flex;
    justify-content: center;
    column-gap: .5rem;
    height: 100%;
    padding: 2rem 0;
}

.bars {
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #000;
    width: 10px;
    height: 40px;
}

.bar-1 {
    animation-name: loader;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.bar-2 {
    animation-name: loader;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-delay: .2s;
    animation-iteration-count: infinite;
}

.bar-3 {
    animation-name: loader;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-delay: .4s;
    animation-iteration-count: infinite;
}

.bar-4 {
    animation-name: loader;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-delay: .6s;
    animation-iteration-count: infinite;
}

.bar-5 {
    animation-name: loader;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-delay: .8s;
    animation-iteration-count: infinite;
}

@keyframes loader {
    0% {
        transform: scale(1);
        background-color: transparent;
    }

    50% {
        transform: scale(1.2);
        background-color: #00000088;
    }

    100% {
        transform: scale(1);
        background-color: transparent;
    }
}