* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 1) 3%,
    rgba(102, 51, 153, 1) 90%
  );
}
form {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  padding: 10% 0;
  border: 4px solid #663399;
  border-radius: 45px;
  background-color: #110022;
  animation: formAnimation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
label {
  color: #68e0cc;
  font-size: 0.9rem;
}
input {
  background-color: #110022;
  border: 2px solid #663399;
  border-radius: 2rem;
  padding: 2% 5%;
  text-align: center;
  color: #68e0cc;
  transition: all 0.4s linear;
}
input:focus {
  outline: none;
  box-shadow: 0px 0px 30px 10px #663399a1;
}
#formName {
  font-size: 1.5rem;
  margin-bottom: 7%;
}
#email,
#newPassword,
#confirmPassword {
  width: 80%;
  margin-bottom: 4%;
}
#setPassword {
  padding: 2% 10%;
  filter: drop-shadow(0px 0px 10px #663399a1);
  margin-top: 1%;
  transition: all 0.4s ease-in-out;
}
#setPassword:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px #68e0cc);
  color: #663399;
}
@keyframes formAnimation {
  0% {
    filter: drop-shadow(0 0 0px #68e0cc);
  }
  50% {
    filter: drop-shadow(0 0 20px #68e0cc);
  }
  100% {
    filter: drop-shadow(0 0 0px #68e0cc);
  }
}
@media screen and (min-width: 600px) {
  form {
    width: 70%;
    padding: 4% 0;
    row-gap: 1.5rem;
  }
  label {
    font-size: 1.1rem;
  }
  input {
    padding: 2% 5%;
    font-size: 1.1rem;
  }
  #formName {
    font-size: 1.7rem;
  }
  #email,
  #newPassword,
  #confirmPassword {
    width: 70%;
    margin-bottom: 2%;
  }
  #setPassword {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 769px) {
  form {
    width: 50%;
    padding: 4% 0;
    border-radius: 65px;
  }
}
@media screen and (min-width: 1000px) {
  form {
    border-radius: 90px;
  }
  label {
    font-size: 1.3rem;
  }
  #formName {
    font-size: 2rem;
  }
  #email,
  #newPassword,
  #confirmPassword {
    width: 60%;
    margin-bottom: 1%;
    font-size: 1.3rem;
  }
  #setPassword {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1400px) {
  form {
    width: 35%;
    padding: 5% 0;
  }
  #formName {
    margin-bottom: 3%;
  }
}
@media only screen and (max-height: 500px) and (orientation: landscape) {
  body {
    height: initial;
    padding: 5% 0%;
  }

  form {
    padding: 3% 0%;
    row-gap: 1.2rem;
  }
}
