* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backgroundImg {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

h1 {
  text-align: center;
  padding: 3rem 0;
  font-size: 6rem !important;
  font-weight: bold;
  color: #fff;
}
.buttons_forms {
  border-bottom: 4px solid #fff;
}
.buttons-container .btn {
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #ffffff88;
  border: 2px solid #fff;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.buttons-container .btn:hover {
  background-color: #0066ff88;
  border-color: #0066ff;
  transform: scale(1.1);
  color: #fff;
}
.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  height: 0;
  width: 100%;
  transition: all 0.7s linear;
}
.height_100 {
  height: 250px;
}
.animation {
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0;
}
form input,
form select {
  border-radius: 20px;
  padding: 3px 10px;
  background-color: #ffffff88;
  border: 2px solid #fff;
  text-align: center;
  font-size: 1.1rem;
}
form input {
  width: 240px;
  height: 42px;
  transition: all 0.5s ease;
}
form input[type="text"] {
  font-size: 1.5rem;
  font-weight: bold;
}
form input:focus {
  outline: none;
}
form select {
  cursor: pointer;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border-radius: 20px;
  flex: 1;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.select {
  position: relative;
  display: flex;
  width: 240px;
  height: 42px;
  background: #ffffff88;
  border-radius: 20px;
  overflow: hidden;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 2px;
  bottom: 0;
  transform: translateY(-50%);
  padding: 0 1rem;
  background: #2b2e2e;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.select:hover::after {
  color: #08ffd2;
}
.select.promena::after {
  right: 200px;
}
form .launch_id_submit,
form .launches_per_year_submit {
  width: 180px;
}
form .launch_id_submit:hover,
form .launches_per_year_submit:hover {
  background-color: #8c00ffc0;
  border-color: #0066ff;
  transform: scale(1.1);
  color: #fff;
}
.message {
  opacity: 0;
  color: #dd0000;
  font-size: 2rem;
  background-color: #1b1b1b;
  filter: drop-shadow(0px 0px 5px #dd0000);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2rem;
  transition: all 0.5s ease-in-out;
}

.launchIdError {
  opacity: 0;
  color: #dd0000;
  font-size: 2rem;
  background-color: #1b1b1b;
  filter: drop-shadow(0px 0px 5px #dd0000);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2rem;
  transition: all 0.5s ease-in-out;
}
.show-message {
  opacity: 1;
}
.launch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  background-color: #ffffff88;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 1rem 0;
  margin: 2rem 0;
  transition: all 0.3s ease;
}

.launch img {
  width: 200px;
}

.launch p {
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.launch:hover {
  cursor: pointer;
  background-color: #0066ff88;
  border-color: #0066ff;
  transform: scale(1.1);
}

.launch:hover p {
  color: #fff;
}

/* LOADER */

.loader {
  width: 300px !important;
  height: 200px !important;
  position: relative;
  color: #f0f8ff00;
  filter: drop-shadow(13px 5px 3px rgb(0, 0, 0));
}
.loader svg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 2s ease;
}
.loader svg path {
  transition: all 1s ease;
}

.iks {
  position: absolute;
  top: 59%;
  left: 40%;
  width: 25px;
  height: 80px;
  background-color: #005288;
  z-index: 10;
  rotate: -45deg;
  clip-path: polygon(0% 5%, 100% 15%, 100% 100%, 0 70%);
}
.iksTop {
  position: absolute;
  top: 35%;
  left: 19%;
  width: 25px;
  height: 60px;
  background-color: #005288;
  z-index: 10;
  rotate: -233deg;
  clip-path: polygon(0 1%, 100% 25%, 100% 100%, 0 45%);
}
